<footer>
    <section>
        <div class="container-fluid mt-5 text-center">
            <div class="row justify-content-center">
                <div class="col-8">
                    <div class="social-content">
                        <ul>
                            <span>Follow Us :</span>
                            <a href="https://www.facebook.com/chase">
                                <li>
                                    <i class="fa fa-facebook-square"></i>
                                </li>
                            </a>
                            <a href="https://www.instagram.com/accounts/login/?next=/chase/">
                                <li>
                                    <i class="fa fa-instagram"></i>
                                </li>
                            </a>
                            <a href="https://twitter.com/chase">
                                <li>
                                    <i class="fa fa-twitter"></i>
                                </li>
                            </a>
                            <a href="https://www.youtube.com/chase">
                                <li>
                                    <i class="fa fa-youtube"></i>
                                </li>
                            </a>
                            <a href="https://www.linkedin.com/company/chase">
                                <li>
                                    <i class="fa fa-linkedin-in"></i>
                                </li>
                            </a>
                        </ul>
                    </div>                        
                </div>
                <div class="col-12">
                    <div class="footer_info">
                        <ul>
                            <a href="https://www.chase.com/digital/customer-service">
                                <li>
                                    Contact us
                                </li>
                            </a>
                            <a href="https://www.chase.com/digital/resources/privacy-security">
                                <li>
                                    Privacy
                                </li>
                            </a>
                            <a href="https://www.chase.com/digital/resources/privacy-security">
                                <li>
                                    Security
                                </li>
                            </a>
                            <a href="https://www.chase.com/digital/resources/terms-of-use">
                                <li>
                                    Terms of use
                                </li>
                            </a>
                            <a href="https://www.chase.com/digital/resources/accessibility">
                                <li>
                                    Accessibility
                                </li>
                            </a>
                            <a href="https://www.chase.com/personal/mortgage/loan-originator-search">
                                <li>
                                    SAFE Act: Chase Mortgage Loan Originators 
                                </li>
                            </a>
                            <a href="https://www.chase.com/personal/mortgage/fair-lending/fair-lending-overview">
                                <li>
                                    Fair Lending 
                                </li>
                            </a>
                            <a href="https://www.chase.com/digital/resources/about-chase">
                                <li>
                                    About Chase
                                </li>
                            </a>
                            <a href="https://www.jpmorgan.com/global">
                                <li>
                                    J.P. Morgan
                                </li>
                            </a>
                            <a href="https://www.jpmorganchase.com/">
                                <li>
                                     JPMorgan Chase & Co. 
                                    </li>
                            </a>
                            <a href="https://careers.jpmorgan.com/us/en/chase">
                                <li>
                                    Careers
                                </li>
                            </a>
                            <a href="https://www.chase.com/espanol?pg_name=ccpmapp/spanish/home/page/spanish_home">
                                <li>
                                    Español
                                </li>
                            </a>
                            <br>
                            <a href="https://www.chase.com/online/canada/canada-home-en.htm">
                                <li>
                                    Chase Canada
                                </li>
                            </a>
                            <li>
                                Member FDIC
                            </li>
                            <li>
                                Equal Housing Lender
                            </li>
                            <br>
                            <li>
                                © 2021 JPMorgan Chase & Co.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>